<html>
<head>
  <title>Welcome</title>
</head>
<body>
<h1>Welcome to my site!</h1>
<%= link_to "My Blog", posts_path %>
<p>My name is Nick Manos and I am a web developer at the Code Fellows Rails Dev Accelerator.<p>
</body>
</html>

